h1{
    color:mediumslateblue;
    text-decoration:underline;
    text-decoration-color:orangered;
    text-transform: uppercase;
}
.nopadding{
    padding:0px;
}
button{
    width:100%;
}
.btn-primary{
    margin-top:25px;
}

.none {
    display:none;
}
.Felicitations{
    color:cadetblue;
    font-size:22px;
}
